<app-menu></app-menu> 
<div class="container fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm mb-lg-4">

                <div class="card-header bg-secondary text-white" >
                    <i class=" bi bi-card-text me-1"></i>
                    Detalle cultivo
                </div>

                <form>
                    <ul class="list-group list-group-flush  ">
                        <li class="list-group-item"><b>ID: </b>{{cultivo.idCultivo}}</li>
                        <li class="list-group-item"><b>Nombre de cultivo: </b>{{cultivo.nombre}}</li>
                        <li class="list-group-item"><b>Variedad de cultivo: </b>{{cultivo.variedadCultivo}}</li>
                        <li class="list-group-item"><b>Tiempo de carencia: </b>{{cultivo.timpoCarencia}}</li>
                        <li class="list-group-item"><b>Vivero proveedor: </b>{{cultivo.viveroProvedor}}</li>
                        <li class="list-group-item"><b>Remito: </b>{{cultivo.remito}}</li>
                        <li class="list-group-item"><b>Fecha creación: </b>{{cultivo.fechaCreacion}}</li>
                        <li class="list-group-item"><b>Fecha Modificación: </b>{{cultivo.fechaModificacion}}</li>
                       
                    </ul>


                    <div class="card-footer mb-2">
                        <div class="d-flex justify-content-between">
                          <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-undo" style="margin-left: 10px" label="Regresar" (click)="volver()"></button>
                          
                          
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

