.image-fondo{
    background-image: url("/../../assets/imagen/productor.jpg" );
    position:fixed;
    height:100%;
    min-width:100%;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.scroll {
    max-height: 500px;
    overflow-y: auto;
}