<app-menu></app-menu> 

<div class="container fadein animation-iteration-1 animation-duration-500">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2"> 
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
            <div class="row"> 
                <div class="col-10-md-7"> 
                    <div class="row"> 
                        <div class="col-12"> 
                            <div class="card shadow-sm mb-4" >

                                <div class="card-header bg-secondary  text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                    Detalle agroquímico
                                </div>

                                <form>
                                    <ul class="list-group list-group-flush  ">
                                        <li class="list-group-item"><b>ID: </b>{{agroquimico.id}}</li>
                                        <li class="list-group-item"><b>Nombre comercial: </b>{{agroquimico.nombreComercial}}</li>
                                        <li class="list-group-item"><b>Formilación y concentración: </b>{{agroquimico.formulaYconcentracion}}</li>
                                        <li class="list-group-item"><b>Principio activo: </b>{{agroquimico.principioActivo}}</li>
                                        <li class="list-group-item"><b>Tipo: </b>{{agroquimico.tipo}}</li>
                                        <li class="list-group-item"><b>Tiempo de carencia: </b>{{agroquimico.tiempoDeCarencia}}</li>
                                        <li class="list-group-item"><b>Dosis por hectareas: </b>{{agroquimico.dosisPorHectaria}}</li>
                                        <li class="list-group-item"><b>Dosis por Hl: </b>{{agroquimico.dosisPorHl}}</li>
                                        <li class="list-group-item"><b>Volumen por hectarea: </b>{{agroquimico.volumenPorHectaria}}</li>
                                        <li class="list-group-item"><b>Número de lote: </b>{{agroquimico.numLote}}</li>
                                        <li class="list-group-item"><b>Fecha de creación: </b>{{agroquimico.fechaCreacionAgro}}</li>
                                        <li class="list-group-item"><b>Fecha de Modificación: </b>{{agroquimico.fechaModificacionAgro}}</li>
                                       

                                       
                                       
                                     
                                        <td></td>
                                      
                

                                    </ul>
                
                
                                    <div class="card-footer mb-2">
                                        <div class="d-flex justify-content-between">
                                          <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-undo" style="margin-left: 10px" label="Regresar" (click)="volver()"></button>
                                          
                                          
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
