<body class="image-fondo ">
<div class="container">
   <!-- <h3 class="mt-2">Restablecer Password</h3>  -->
      
      <div class="row justify-content-center">
          <div class="col-lg-3">
              <!-- card-->
              <div class="card shadow mt-4" >
                
                    <div class="card-header bg-dark text-white text-center mt-1">
                      <i class="bi bi-shield-lock-fill"></i>
                        Restablecer contraseña
                      
                    </div>

                    <div class="card-body bg-success text-white text-center mt-1">
                      
                      <i class="bi bi-envelope-check-fill"></i>
                            Enviar E-mail
                    </div>

                  <img src="assets/imagen/enviar.jpg" class="card-img-top mb-4" alt="...">
                  <!-- /.card-header -->
                  <!-- form start -->
                  
                        <div class="card-body">
                            <form #form = "ngForm" (ngSubmit) = "enviarEmail()" novalidate>
                                <!--group email o usuario-->
                                <div class="form-group">
                                    <label class="text" for="mailTo">Ingrese usuario o E-mail</label>
                                    <input type="text" class="form-control mt-2" name ="mailTo"id="mailTo"  placeholder="Usuario o E-mail" [(ngModel)]="mailTo" #emailUsuario = "ngModel" required>
                                    <div class="alert-danger rounded mt-2" *ngIf="emailUsuario.invalid && (emailUsuario.dirty || emailUsuario.touched)">
                                        <div *ngIf="emailUsuario.errors?.required">
                                            <i class="ms-1 bi-x-circle-fill"></i>
                                            El campo es obligatorio
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer text-center">
                                    <button class="btn btn-outline-success btn-block m-2" [disabled]="!form.valid" type="submit"><i class="fas fa-paper-plane"></i> Enviar</button>
                                    <div class="text-center mt-2">
                                        <a routerLink="/login" class="link-primary text-center">Volver a inicio de sesión</a>
                                    </div>
                                </div>


                            </form>
                            <!--fin group email o usuario-->
                        </div> 

                </div>
              <!-- fin card-->
          </div>
      </div>
  

</div>
</body>
