<app-menu></app-menu> 



<div class="container fadein animation-iteration-1 animation-duration-500">
   
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2">
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
            <div class="row"> 
                <!-- parte derecha -->
                <div class="col-md-7">
                    <div class="row"> 
                        <div class="col-12"> 
                            <div class="card shadow-sm mb-4" >
                                <div class="card-header bg-primary text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                    Crear nueva Finca
                                </div>
                                <form #form = "ngForm" (ngSubmit)="crearFinca(form)" novalidate>
                                    <div class="card-body ">

                                        <div class="p-2">
                                            <label for="labelNombre" class="form-label">Nombre</label>
                                            <input type="text" class="form-control p-inputtext"  name="nuevaFinca.nombre" id="nuevaFinca.nombre" placeholder="Ingrese el nombre" 
                                            [(ngModel)]="nuevaFinca.nombre" #nombre="ngModel" pattern={{patronLetras}}  required minlength="3">
                                        
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>

                                        <div class="p-2">
                                            <label for="labelDireccion" class="form-label">Dirección</label>
                                            <input type="text" class="form-control p-inputtext"  name="nuevaFinca.direccion" id="nuevaFinca.direccion" placeholder="Ingrese la dirección" 
                                            [(ngModel)]="nuevaFinca.direccion" #dereccion="ngModel" pattern={{patronLetras}}  required minlength="3">
                                        
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="dereccion.errors?.required"  severity="error" text="La dirección es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="dereccion.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="dereccion.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>

                                        <div class="p-2">
                                            <label for="labelLongitud" class="form-label">Longitud</label>

                                            <input type="number" class="form-control p-inputtext"  name="nuevaFinca.longitud" id="nuevaFinca.longitud" placeholder="Ingrese la longitud" 
                                            [(ngModel)]="nuevaFinca.longitud" #long="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="2"> 
                                            <!-- <p-inputNumber [(ngModel)]="nuevaFinca.longitud" #long="ngModel" pattern="^[0-9 -]{2,15}"   [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" decrementButtonClass="p-button-danger" 
                                            incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="longitud" currency="LONGITUD"></p-inputNumber> -->
    
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="long.errors?.required"  severity="error" text="La longitud es requerida"></p-message>
                                                <p-message styleClass="m-1" *ngIf="long.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="long.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                            </div>
                                        </div>

                                       


                                        <div class="p-2">
                                            <label for="labelLatitud" class="form-label">Latitud</label>
                                            <input type="number" class="form-control p-inputtext"  name="nuevaFinca.latitud" id="nuevaFinca.latitud" placeholder="Ingrese la latitud" 
                                            [(ngModel)]="nuevaFinca.latitud" #latitud="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="2">
                                        
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.required"  severity="error" text="La latitud es requerida"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                            </div>
                                        </div>

                                        <div class="p-2">
                                          
                                            <label for="labelNombreUsuario  form-select-lg mb-3" class="form-label">Dueño de la finca</label>
                                            <select class="form-select" name="productorNombreProductor" 
                                            [(ngModel)]="nuevaFinca.nombreProductor" aria-label=".form-select-lg example" required>
                                            <option [value]="productor.nombreUsuario" *ngFor="let productor of usuarios">
                                                {{ productor.nombreUsuario }}
                                            </option>
                                            
                                        </select>
                                        </div>
                                        

                                        <div class="card-footer d-flex justify-content-between">
                                            <button routerLink="/index" class="btn btn-outline-danger" style="margin-left: 10px"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                                            <button pRipple pButton type="submit" class="p-button-rounded p-button-raised" icon="pi pi-check" label="Cargar datos" [disabled]="!form.valid"></button>
                                        </div>
                                             
                                       <!--  <div class="card-footer text-center mt-3">
                                            <button class="btn btn-outline-success btn-block" [disabled]="!form.valid || nuevaFinca.nombreProductor===null" style="margin-left: 10px"  ><i class="far fa-save"></i> Guardar</button>
                                            <button routerLink="/index" class="btn btn-outline-danger" style="margin-left: 10px"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                                          
                                
                                        </div> -->

                                    </div>
                                

                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>


               <!--  parte izquierda -->

                <div class="col-md-5">
                    <div class="row ">
                        <div class="col-12"> 

                            <div class="card shadow">
                                
                                   <div class="card-header bg-primary text-white">
                                        <i class=" bi bi-card-text me-1"></i>
                                        Generar los cuadros
                                    </div>  
                                    <form id="estoy" #forms = "ngForm">
                                        <div class="container py-2">
                                            <label  for="labelNombre" class="form-label">Numero de cuadro</label>
                                            <input type="text" id="num" name="numero"  class="form-control my-2" placeholder="Ingrese el nombre" pInputText required> 
                                            
                                             <!-- <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                [(ngModel)]="numero"  #numero="ngModel" pattern={{patronLetras}}  required minlength="3" 
                                                <p-message styleClass="m-1" *ngIf="numero.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="numero.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="numero.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>  -->
                                        </div>


                                        <div class="container py-2">
                                            <label for="labelLatitud" class="form-label">Superficie</label>
                                            <input type="number" class="form-control p-inputtext"     name="superficie" id="superficie" >
                                        
                                        
                                        <!--  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                            [(ngModel)]="nuevaFinca.latitud" #latitud="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="2"
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.required"  severity="error" text="La latitud es requerida"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                            </div> -->
                                        </div>
                                        <div class="card-footer d-flex justify-content-between">
                                            
                                          <!--  <button id="boton" pRipple pButton type="submit" (click)="prueba()" class="btn btn-outline-secondary" icon="pi pi-check" label="Cargar datos"  value="Cargar datos" [disabled]="!forms"></button>  -->
                                           <input class="button-primary" type="submit" value="Agregar">
                                            
                                        </div>

                                         
                                        
                                    </form>
                                    <div class="container py-2">
                                        <table class="table table-success table-striped" id="tabla">
                                            <thead class="thead-inverse">
                                                <tr>
                                                    <th> Nombre </th>
                                                    <th> Superficie </th>
                                                </tr>
                                            </thead>
                                            
                                          </table>
                                    </div>

                                    

                                   
                                
                            </div>
                        </div>
                
                        </div>
                    </div>
                    
                </div>

        </div>

       
        <!-- <p class="text-lg text-gray-800">Seleccione los Cuadros</p>
<p class="text-lg text-bluegray-600 font-bold">{{leyendaCuadrosSeleccionados()}}</p>
<p-pickList [source]="cuadros" sourceHeader="cuadros" [dragdrop]="true" [responsive]="false" targetHeader="Asignados"
    [target]="asignarCuadro" filterBy="numeroCuadro" [sourceStyle]="{'height':'20rem'}"
    [targetStyle]="{'height':'20rem'}" sourceFilterPlaceholder="Buscar por número cuadro"
    targetFilterPlaceholder="Buscar por número cuadro" [showSourceControls]="false" [showTargetControls]="false">
    <ng-template let-cuadro pTemplate="item">
        <div>
            <p>Número: {{cuadro.numeroCuadro}}</p>
            <p>Superficie: {{cuadro.superficieHectarea}}</p>
        </div>
    </ng-template>
</p-pickList>
			 -->

        
   <!--  </div>
    <div class="card-footer d-flex justify-content-between">
        <button routerLink="/index" class="btn btn-outline-danger" style="margin-left: 10px"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        <button pRipple pButton type="submit" class="p-button-rounded p-button-raised" icon="pi pi-check" label="Guardar" [disabled]="!form.valid"></button>
    </div>
</div> -->






         