<app-menu></app-menu> 

<div class="container fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm mb-lg-4">
                <div class="card-header  bg-secondary  text-white">
                    <i class=" bi bi-card-text me-1"></i>
                    Actualizar datos de la aplicación agroquímico
                </div>

                <form #form = "ngForm" (ngSubmit) = "solitarModificacionAplicacionAgro(form)" novalidate>
                      <!-- Selector tipo agroquímico -->
                      <div class="p-2">
                                          
                        <label for="aplicacion" class="form-label">Seleccione el agroquímico</label>
                        <select class="form-select" name="apliAgro" id="aplicacion"
                            [(ngModel)]="aplicacionAgro.agroquimico.id" aria-label=".form-select-lg example" required>
                            <option [value]="agroquimico.id" *ngFor="let agroquimico of listadoAgroquimico">
                            
                                {{ agroquimico.nombreComercial }}
                                
                            </option>
                        
                        </select>
                     </div>
                      <!-- fin -->

                         <!-- Dosis por hectarea -->
                         <div class="form-group p-2">
                            <label for="dosisPorHectaria" class="form-label">Dosis por hectarea(cm3)</label>
                            <input type="number" class="p-inputtext form-control mt-2"  name="dosis" id="dosisPorHectaria" value={{aplicacionAgro.dosisPorHectaria}}  placeholder="Ingrese la dosis" 
                            [(ngModel)]="aplicacionAgro.dosisPorHectaria" #do ="ngModel" pattern="^[0-9 . -]{2,15}"   required minlength="1">
                        
                            <div *ngIf="do.invalid && (do.dirty || do.touched)">
                                <p-message styleClass="m-1" *ngIf="do.errors?.required"  severity="error" text="La dosis es requerida"></p-message>
                                <p-message styleClass="m-1" *ngIf="do.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="do.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                            </div>
                        
                        </div>
                        <!-- fin -->

                          <!-- Dosis por Hl -->
                          <div class="form-group p-2">
                            <label for="dosisPorHl" class="form-label">Dosis por Hl(cm3)</label>
                            <input type="number" class="p-inputtext form-control mt-2"  name="dosisPorHl" id="dosisPorHl" value={{aplicacionAgro.dosisPorHl}} placeholder="Ingrese la dosis" 
                            [(ngModel)]="aplicacionAgro.dosisPorHl" #dos ="ngModel" pattern="^[0-9 . -]{2,15}"   required minlength="1">
                        
                            <div *ngIf="dos.invalid && (dos.dirty || dos.touched)">
                                <p-message styleClass="m-1" *ngIf="dos.errors?.required"  severity="error" text="La dosis es requerida"></p-message>
                                <p-message styleClass="m-1" *ngIf="dos.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="dos.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                            </div>
                        
                        </div>
                        <!-- fin -->

                         <!-- VolumenPorHectaria -->
                            <div class="form-group p-2">
                                <label for="volumenPorHectaria" class="form-label">Volumen por hectarea(lts)</label>
                                 <input type="number" class="p-inputtext form-control mt-2"  name="volumen" id="volumenPorHectaria" value={{aplicacionAgro.volumenPorHectaria}} placeholder="Ingrese el volumen" 
                                 [(ngModel)]="aplicacionAgro.volumenPorHectaria" #vol ="ngModel" pattern="^[0-9 . -]{2,15}"   required minlength="1">
                                            
                                 <div *ngIf="vol.invalid && (vol.dirty || vol.touched)">
                                    <p-message styleClass="m-1" *ngIf="vol.errors?.required"  severity="error" text="El volumen es requerido"></p-message>
                                    <p-message styleClass="m-1" *ngIf="vol.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                    <p-message styleClass="m-1" *ngIf="vol.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                </div>
                                            
                            </div>
                         <!-- fin -->
                         <!-- Objetivo -->
                         <div class="form-group p-2">
                            <label for="objetivo" class="form-label">Objetivo</label>
                            <input type="text" class="p-inputtext form-control mt-2"  name="descripcion" id="objetivo" value={{aplicacionAgro.objetivo}} placeholder="Ingrese el objetivo" 
                            [(ngModel)]="aplicacionAgro.objetivo" #desc ="ngModel"  pattern={{patronLetras}}   required minlength="4">
                        
                            <div *ngIf="desc.invalid && (desc.dirty || desc.touched)">
                                <p-message styleClass="m-1" *ngIf="desc.errors?.required"  severity="error" text="El objetivo es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="desc.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="desc.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        
                        </div>
                        <!-- fin -->

                          <!-- Observación -->
                          <div class="form-group p-2">
                            <label for="observaciones" class="form-label">Descripción</label>
                            <input type="text" class="p-inputtext form-control mt-2"  name="descr" id="observaciones" value={{aplicacionAgro.observaciones}} placeholder="Ingrese la descripción" 
                            [(ngModel)]="aplicacionAgro.observaciones" #descrip ="ngModel"  pattern={{patronLetras}}   required minlength="8">
                        
                            <div *ngIf="descrip.invalid && (descrip.dirty || descrip.touched)">
                                <p-message styleClass="m-1" *ngIf="descrip.errors?.required"  severity="error" text="La descripción es requeridos"></p-message>
                                <p-message styleClass="m-1" *ngIf="descrip.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="descrip.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        
                        </div>

                        <!-- fin -->
                          <!-- justificacion -->
                          <div class="form-group p-2">
                            <label for="justificacion" class="form-label">Justificación</label>
                            <input type="text" class="p-inputtext form-control mt-2"  name="just" id="justificacion" value={{aplicacionAgro.justificacion}} placeholder="Ingrese la justificación" 
                            [(ngModel)]="aplicacionAgro.justificacion" #justi ="ngModel"  pattern={{patronLetras}}   required minlength="8">
                        
                            <div *ngIf="justi.invalid && (justi.dirty || justi.touched)">
                                <p-message styleClass="m-1" *ngIf="justi.errors?.required"  severity="error" text="La justificación es requerida"></p-message>
                                <p-message styleClass="m-1" *ngIf="justi.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="justi.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        
                        </div>

                        <!-- fin -->

                          <!-- Selector tipo cultivo -->
                      <div class="p-2">
                                          
                        <label for="idCuadr" class="form-label">Seleccione el cuadro</label>
                        <select class="form-select" name="cuadro" id="idCuadr"
                        [(ngModel)]="aplicacionAgro.cuadro.idCuadro" aria-label=".form-select-lg example" required>
                        <option [value]="cuadro.idCuadro" *ngFor="let cuadro of cuadros">
                        
                            {{ cuadro.numeroCuadro }}
                            
                        </option>
                        
                        </select>
                     </div>
                      <!-- fin -->

                       
                        <!-- botones -->
                    <div class="card-footer mb-2">
                        <div class="d-flex justify-content-between">
                          <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-thumbs-down" style="margin-left: 10px" label="Cancelar" (click)="cerrar()"></button>
                          <button pButton class="p-button-success p-button-rounded p-button-raised p-button-sm" role="submit" icon="pi pi-thumbs-up" label="Modificar" [disabled]="!form.valid"></button>
                          
                        </div>
                    </div>
                    <!-- fin botones -->                      
                </form>
            </div>
        </div>
    </div>
</div>
