<body class="image-fondo ">
    

<div class="container">
  
     
     <div class="row justify-content-center">
         <div class="col-lg-">
             <!-- card-->
             <div class="card shadow mt-10" >
               
                   <div class="card-header bg-dark text-white text-center">
                    <i class="bi bi-shield-lock-fill"></i>
                        Restablecer contraseña   
                   </div>

                 <img src="assets/imagen/pass.jpg" class="card-img-top" alt="...">
                 
                       <div class="card-body">

                           <form #form = "ngForm" (ngSubmit) = "cambiarPassword()" novalidate>
                               <!--gropo password-->
      
                               <div class="form-group" >
                                   <label class="text" for="password">Contraseña</label>
                                   <p-password type="password" name ="password"id="password"  placeholder="Ingresar contraseña" 
                                   [(ngModel)]="password" #pass="ngModel" required minlength="8" [feedback]="false" [toggleMask]="true"></p-password>
                                   <div class="alert-danger rounded mt-2" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                                       <div *ngIf="pass.errors?.required">
                                           <i class="ms-1 bi-x-circle-fill"></i>
                                           La confirmación es requerida 
                                       </div>

                                       <div *ngIf="pass.errors?.minlength">
                                        <i class=" ms-1 bi-x-circle-fill"></i>
                                          La contraseña debe tener un minimo de 8 caracteres
                                     </div>

                                    </div>
                                </div>


                               <!--gropo ConfirmarPassword-->

                               <div class="form-group" >
                                <label class="text " for="confirmPassword">Confirmar contraseña</label>
                                <p-password type="password"  name ="confirmPassword" id="confirmPassword"  placeholder="Confirmar contraseña" 
                                [(ngModel)]="confirmPassword" #confir= "ngModel" required minlength="8" [feedback]="false" [toggleMask]="true"></p-password>
                                <div class="alert-danger rounded mt-2" *ngIf="confir.invalid && (confir.dirty || confir.touched)">
                                    <div *ngIf="confir.errors?.required">
                                        <i class="ms-1 bi-x-circle-fill"></i>
                                        Contraseña requerida 
                                    </div>

                                    <div *ngIf="confir.errors?.minlength">
                                     <i class=" ms-1 bi-x-circle-fill"></i>
                                       La contraseña debe tener un minimo de 8 caracteres
                                  </div>

                                 </div>
                             </div>
                             <!--grupo botones-->
                               <div class="card-footer text-center">
                                   <button class="btn btn-outline-success btn-block m-2" [disabled]="!form.valid" type="submit"><i class="bi bi-key-fill"></i> Cambiar contraseña </button>
                                   <div class="text-center mt-2">
                                       <a routerLink="/login" class="link-primary text-center">Volver a inicio de sesión</a>
                                   </div>
                               </div>

                           </form>
                           
                       </div> 

               </div>
             
         </div>
     </div>
 

</div>
</body>
