<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    
   
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#">  Agro Andina</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
            <a class="nav-link" routerLink="/index"><i class="fas fa-home"></i> Inicio</a>
            </li>

            <li class="nav-item dropdown" *ngIf="isAdmin">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-tie"></i>
                    Usuarios
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/usuario/nuevo">Nuevo usuario</a></li>
                    <li><a class="dropdown-item" routerLink="/usuario">Lista usuarios</a></li>
                    <li><a class="dropdown-item" routerLink="/logs">Logs de usuarios</a></li>
                   
                </ul>
            </li>


            <li class="nav-item dropdown" *ngIf="isEncargadoAgricola">
                <a class="nav-link  dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-tie"></i>
                    Productor
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/cultivo/nuevo">Nuevo Productor</a></li>
                    <li><a class="dropdown-item" routerLink="/cultivo/crearCultivo">Crear Cultivo</a></li>
                   
                </ul>
            </li>


            <li class="nav-item" *ngIf="isLogged && isAdmin">
                <a class="nav-link" routerLink=""><i class="fa-solid fa-wine-bottle"></i> Agroquímicos</a>
            </li>

            <!--  <li class="nav-item" *ngIf="isLogged && isAdmin">
            <a class="nav-link" routerLink="/usuario"><i class="far fa-list-alt"></i> Usuarios</a>
            </li>  -->

<!--             <li class="nav-item" *ngIf=" isAdmin">
                <a class="nav-link" routerLink="/logs"><i class="far fa-list-alt"></i> Logs</a>
                </li>   -->

           

            <li class="nav-item" *ngIf="isLogged && isAdmin || isEncargadoAgricola">
                <a class="nav-link" routerLink="/riego"><i class="bi bi-droplet-half"></i>Riegos</a>
             </li>

             <li class="nav-item" *ngIf="isLogged && isProductor">
                <a class="nav-link" routerLink="/riego/riegoPorNombreUsuario/{{nombreUsuario}}"><i class="bi bi-droplet-half"></i>Riegos</a>
             </li>

            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link"  routerLink="/login" ><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
            </li>
            <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
                <a class="nav-link" routerLink="/login" style="cursor: pointer;"><i class="fas fa-times-circle"></i> Cerrar Sesión</a>
            </li>
            
        </ul>
        </div>
   
    </div>
    
  </nav>

  </html>
  