
<div class="row">
    <div class="col-md-4 my-8 my-md-0">
        <div class="card shadow-sm" style="height: 100%;">
            <div class="card-header bg-primary text-white"><i class="pi pi-chart-pie me-1"></i>Asesorías del productor</div>
            <div class="card-body justify-content-center">
                <div class="justify-content-center">

                    <div class="form-group ml-1">
                        <label class="mt-2 mb-2">Fecha desde y fecha hasta</label><br/>
                        <p-calendar  [(ngModel)]="rangoFechas" styleClass="w-100"  [showIcon]="true" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                        <p-message styleClass="m-1" *ngIf="rangoFechas[1] == null" severity="error" text="Debes seleccionar la fecha hasta"></p-message>
                    </div>
                   
                    <div class="form-group">
                        <label for="nombre" class="mt-2 mb-2">Nombre de usuario</label>
                       
                        <div class="p-inputgroup ">
                            <span class="p-inputgroup-addon">
                              <i class="pi pi-user"></i>
                            </span>
                            <input pInputText type="text" id="nombre"  #user=ngModel [(ngModel)]="nombre" placeholder="Nombre de usuario" required>
                            <button pRipple pButton icon="pi pi-search" styleClass="p-button-warn" (click)="datosFiltrados()" [disabled]="nombre=='' || rangoFechas[0]==null || rangoFechas[1]==null"></button>
                        </div>
                      
                        <p-message styleClass="m-1" *ngIf="user.invalid && (user.dirty || user.touched)" severity="error" text="Debes ingresar el usuario"></p-message>
                    </div>
                  <!--   <div class="form-group mt-4">
                        <div class="d-grid gap-2">
                            <button pRipple pButton  class="w-full p-button-sm" label="Buscar" icon="pi pi-search" (click)="cargarDatosfiltrados()" [disabled]="userName=='' || rangoFechas[0]==null || rangoFechas[1]==null"></button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        
      <p-card id="graficoAse" styleClass="shadow-1" header={{tituloGrafico}} subheader={{subtituloGrafico}}>
        <p-chart type="bar" [data]="datos" height="26vh" width="100%"></p-chart>
      </p-card>
    </div>
</div>
<button pButton class="p-button-danger p-button-sm me-1 "  icon="pi pi-file-pdf" pTooltip="Exportar a PDF" tooltipPosition="top" (click)="exportarPdf()"></button>
<div class="row mt-4" *ngIf="!loading">
    <p-card styleClass="shadow-1 mb-4" header="Listado asesoría de riego" subheader={{subTituloTabla}}>
        <p-table #dt [value]="asesoriaRiego" styleClass="p-datatable-sm p-datatable-striped" dataKey="id" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
            [filterDelay]="0">
            <ng-template pTemplate="caption">

            <div class="p-d-flex">
                <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1" label="Limpiar Filtros" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
            </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr class="text-center">

                    <!-- Nombre de finca -->
                <th class="text-center text-sm" pSortableColumn="nombre">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Finca
                        <p-sortIcon field="nombre"></p-sortIcon>
                        <p-columnFilter type="text" field="nombre" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <!-- fin -->
                 <!--Numero de cuadros-->
                <th class="text-center" pSortableColumn="numerosDeCuadros" scope="col">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Cuadro
                        <p-sortIcon field="numerosDeCuadros"></p-sortIcon>
                        <p-columnFilter type="text" field="numerosDeCuadros" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>

              <!-- fin -->

              <!-- duracionEnHoras -->
                      <th class="text-center" pSortableColumn="duracionEnHoras">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Duración (hs)
                            <p-sortIcon field="duracionEnHoras"></p-sortIcon>
                            <p-columnFilter type="time" field="duracionEnHoras" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                  <!-- Milimetros aplicados -->
                    <th class="text-center" pSortableColumn="milimetrosAplicados">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Milimetros aplicados
                            <p-sortIcon field="milimetrosAplicados"></p-sortIcon>
                            <p-columnFilter type="number" field="milimetrosAplicados" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                  <!-- fin -->

                  <!-- Fecha estimada-->
                    <th class="text-center" pSortableColumn="fechaEstimadaAplicacionParsed">
                        Fecha estimada
                        <p-sortIcon field="fechaEstimadaAplicacionParsed"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaEstimadaAplicacionParsed" display="menu" class="p-ml-auto"></p-columnFilter>
                     </th>
                  <!-- fin -->
              
                <!-- -- Fecha aplicada-->
                    <th class="text-center" pSortableColumn="fechaAplicacionAsesoria">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Fecha aplicada                               
                            <p-sortIcon field="fechaAplicacionAsesoria"></p-sortIcon>
                            <p-columnFilter type="date" field="fechaAplicacionAsesoria" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th> 
                <!-- fin -->

                   <!-- Encargado agrícola -->
                   <th class="text-center" pSortableColumn="nombreEncargado">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Encargado agrícola
                        <p-sortIcon field="nombreEncargado"></p-sortIcon>
                        <p-columnFilter type="number" field="nombreEncargado" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
              <!-- fin -->
                </tr>
                
            </ng-template>

            <ng-template pTemplate="body" let-asesoriaRiego>
                <tr>  
                    <td class="text-center">{{asesoriaRiego.finca.nombre}}</td>  
                    <td class="text-center">{{asesoriaRiego.cuadro.numeroCuadro}}</td>
                    <td class="text-center">{{asesoriaRiego.duracionEnHoras}}</td>
                    <td class="text-center">{{asesoriaRiego.milimetrosAplicados}}</td>
                    <td class="text-center">{{asesoriaRiego.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY'  }}</td>
                    <td class="text-center" *ngIf="asesoriaRiego.asesoriaAplicada == true">{{asesoriaRiego.fechaAplicacionAsesoria | date:'dd/MM/YYYY'  }}</td>
                    <td class="text-center" *ngIf="asesoriaRiego.asesoriaAplicada == false && (asesoriaRiego.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY' ) > (fechaHoy | date:'dd/MM/YYYY')  "><i class="fa-solid fa-calendar-days"></i></td> 
                    <td class="text-center expired" *ngIf="asesoriaRiego.asesoriaAplicada  == false && (asesoriaRiego.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY' ) < (fechaHoy | date:'dd/MM/YYYY')  ">Vencida</td> 
                    
                    
                    <td class="text-center">{{asesoriaRiego.nombreEncargado}}</td>
                </tr>
            </ng-template>   

        </p-table>
    </p-card>
    <p-scrollTop></p-scrollTop>    
</div>
<div class="row mt-4" *ngIf="!loading">
    <p-card styleClass="shadow-1 mb-4" header="Listado asesoría de agroquímico" subheader= {{subTituloTabla}}>
        <p-table #dt [value]="asesoriaAgro" styleClass="p-datatable-sm p-datatable-striped" dataKey="id" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [rowHover]="true"
            [paginator]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
            [filterDelay]="0">

            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1" label="Limpiar Filtros" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                    
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr class="text-center">

                     

                    

                     <!-- Nombre de finca -->
                     <th class="text-center" pSortableColumn="nombre">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Finca
                            <p-sortIcon field="nombre"></p-sortIcon>
                            <p-columnFilter type="text" field="nombre" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- Cuadro -->
                     <th class="text-center" pSortableColumn="cuadro">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Cuadro
                        <p-sortIcon field="cuadro"></p-sortIcon>
                        <p-columnFilter type="text" field="cuadro" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                       </th>
                    <!-- fin -->

                     <!-- Agroquímico -->
                     <th class="text-center" pSortableColumn="agroquimico">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Agroquímico
                        <p-sortIcon field="agroquimico"></p-sortIcon>
                        <p-columnFilter type="text" field="agroquimico" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- dosisPorHectaria -->
                     <th class="text-center" pSortableColumn="dosisPorHectaria">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Dosis por hectarea
                        <p-sortIcon field="dosisPorHectaria"></p-sortIcon>
                        <p-columnFilter type="number" field="dosisPorHectaria" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- dosisPorHl -->
                     <th class="text-center" pSortableColumn="dosisPorHl">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Dosis por por Hl
                        <p-sortIcon field="dosisPorHl"></p-sortIcon>
                        <p-columnFilter type="number" field="dosisPorHl" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- volumenPorHectaria -->
                     <th class="text-center" pSortableColumn="volumenPorHectaria">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Volumen por hectaria
                        <p-sortIcon field="volumenPorHectaria"></p-sortIcon>
                        <p-columnFilter type="number" field="volumenPorHectaria" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- objetivo -->
                     <th class="text-center" pSortableColumn="objetivo">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Objetivo
                        <p-sortIcon field="objetivo"></p-sortIcon>
                        <p-columnFilter type="text" field="objetivo" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- Plaga -->
                     <th class="text-center" pSortableColumn="plaga">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Plaga
                        <p-sortIcon field="plaga"></p-sortIcon>
                        <p-columnFilter type="text" field="plaga" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <!-- fin -->

                     <!-- Fecha estimada-->
                     <th class="text-center" pSortableColumn="fechaAsesoriaAgroquimico">
                        Fecha estimada
                    <p-sortIcon field="fechaAsesoriaAgroquimico"></p-sortIcon>
                    <p-columnFilter type="date" field="fechaAsesoriaAgroquimico" display="menu" class="p-ml-auto"></p-columnFilter>
                </th>
                <!-- fin -->

                 
              
                 <!-- -- Fecha aplicada-->
                 <th class="text-center" pSortableColumn="fechaAplicacionAsesoria">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fecha aplicada                               
                        <p-sortIcon field="fechaAplicacionAsesoria"></p-sortIcon>
                        <p-columnFilter type="date" field="fechaAplicacionAsesoria" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th> 
                <!-- fin -->



                 <!-- Encargado agrícola -->
                   <th class="text-center" pSortableColumn="nombreEncargado">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Encargado agrícola 
                        <p-sortIcon field="nombreEncargado"></p-sortIcon>
                        <p-columnFilter type="number" field="nombreEncargado" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
              <!-- fin -->
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-asesoriaAgroquimico>
                <tr> 
                    <td class="text-center">{{asesoriaAgroquimico.finca.nombre}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.cuadro.numeroCuadro}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.agroquimico.nombreComercial}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.dosisPorHectaria}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.dosisPorHl}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.volumenPorHectaria}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.objetivo}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.plaga}}</td>
                    <td class="text-center">{{asesoriaAgroquimico.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY'  }}</td>
                    <td class="text-center" *ngIf="asesoriaAgroquimico.asesoriaAplicada == true" >{{asesoriaAgroquimico.fechaAplicacionAsesoria | date:'dd/MM/YYYY' }}</td>
                    <td class="text-center" *ngIf="asesoriaAgroquimico.asesoriaAplicada == false && (asesoriaAgroquimico.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY') > (fechaHoy | date:'dd/MM/YYYY')  "><i class="fa-solid fa-calendar-days"></i></td> 
                    <td class="text-center expired" *ngIf="asesoriaAgroquimico.asesoriaAplicada == false && (asesoriaAgroquimico.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY') < (fechaHoy | date:'dd/MM/YYYY')  ">Vencida</td> 
                    <td class="text-center">{{asesoriaAgroquimico.nombreEncargado}}</td>
                   
                    
                  
                 

                   
                   
                </tr>
               
            </ng-template>

           
       
        </p-table>
    </p-card>
</div>