

.check-ok {
    color: lime;
  }
  
  input:invalid ~ .check-ok {
    display: none;
  }
  
  input:valid ~ .check-ok {
    display: inline;
  }
  
  /* oculta el form */
  #form,#card{
    display: none;
  }