

.check-ok {
    color: lime;
  }
  
  input:invalid ~ .check-ok {
    display: none;
  }
  
  input:valid ~ .check-ok {
    display: inline;
  }
  
  /* oculta el formulario dependiendo de que boton se presione en la logica*/
 /*  #form,#card{
    display: none;
  } */