<app-menu></app-menu> 
<div class="container fadein animation-iteration-1 animation-duration-500">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2"> 
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
            <div class="row"> 
                 <!-- parte derecha -->

                 <div class="col-md-7">
                    <div class="row"> 
                        <div class="col-12"> 
                            <div class="card shadow-sm mb-4" >

                                <div class="card-header bg-primary text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                    Crear un nuevo cuadro
                                </div>

                              
                                <form #form = "ngForm" (ngSubmit)="crearCuadro(form)" novalidate>

                                    <!-- Selector Finca -->
                                    <div class="p-2">
                                            
                                        <label for="nomreUsuario  form-select-lg mb-3" class="form-label">Seleccione la finca</label>
                                        <select class="form-select" name="finca" id="nomreUsuario"
                                        [(ngModel)]="nuevoCuadro.idFinca" aria-label=".form-select-lg example" required>
                                        <option [value]="finca.idFinca" *ngFor="let finca of fincas">
                                        
                                            {{ finca.nombre }}
                                            
                                        </option>                        
                                        </select>
                                    </div>
                                     <!-- fin -->

                                     <!--  Número de cuadro -->
                                     <div class="p-2">
                                        <label for="labelCuad" class="form-label">Número o nombre de cuadro</label>

                                        <input type="text" class="form-control p-inputtext"  name="cuadro" id="labelCuadro" placeholder="Ingrese el número o nombre" 
                                        [(ngModel)]="nuevoCuadro.numeroCuadro" #cua="ngModel"    required minlength="1"> 

                                        <div *ngIf="cua.invalid && (cua.dirty || cua.touched)">
                                            <p-message styleClass="m-1" *ngIf="cua.errors?.required"  severity="error" text="El número  es requerida"></p-message>
                                            <p-message styleClass="m-1" *ngIf="cua.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                            
                                        </div>
                                    </div>
                                      <!-- Fin Número de cuadro -->
                                       <!--  Superficie por Hectareas -->
                                       <div class="p-2">
                                        <label for="labelSuperficie" class="form-label">Superficie (ha)</label>

                                        <input type="number" class="form-control p-inputtext"  name="superficie" id="labelSuperficie" placeholder="Ingrese la suprficie (ha)" 
                                        [(ngModel)]="nuevoCuadro.superficieHectarea" #super="ngModel" pattern="^[0-9 . -]{1,15}"    required minlength="1"> 

                                        <div *ngIf="super.invalid && (super.dirty || super.touched)">
                                            <p-message styleClass="m-1" *ngIf="super.errors?.required"  severity="error" text="La superficie es requerida"></p-message>
                                            <p-message styleClass="m-1" *ngIf="super.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                            <p-message styleClass="m-1" *ngIf="super.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                        </div>
                                    </div>
                                      <!-- Fin Número de cuadro -->

                                      <div class="card-footer d-flex justify-content-between">
                                        <button routerLink="/index" type="button" class="btn btn-outline-danger" style="margin-left: 10px"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                                        <button pRipple pButton type="submit" class="p-button-rounded p-button-raised" icon="pi pi-check" label="Cargar datos" [disabled]="!form.valid"></button>
                                    </div>

                                    
                                </form>

                               
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-5">
                    <div class="row ">
                        <div class="col-12"> 
    
                            <div class="card shadow">
                                <div class="card-header bg-primary text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                     Cuadros cargados
                                </div>  
    
                                <div class="container py-2">
                                    <table class="table table-success table-striped" id="tabla">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th> Nombre </th>
                                                <th> Superficie </th>
                                            
                                            </tr>
                                        </thead>
                                        
                                      </table>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>
</div>
