/* form {
	width: 25em;
}

div {
	margin: .25em;
}

label {
	display: inline-block;
	width: 6em;
}

input {
	width: 12em;
}

button {
  display: block;
  margin: 0 auto;
} */






/* 
input:valid {
    background-color: #BBFFF0;
  } */
  
  .check-ok {
    color: lime;
  }
  
  input:invalid ~ .check-ok {
    display: none;
  }
  
  input:valid ~ .check-ok {
    display: inline;
  }


  /* .image-fondo{
    background-image: url("/../../assets/imagen/productor.jpg" );
    position:fixed;
    height:100%;
    min-width:100%;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    margin: 0;
    padding: 0;
} */

  
  