img {
    margin-top: -23px;
    margin-left: -125px;
    left: 50%;
    top: 30%;
    position: absolute;
    }

    #Bienvenido {
        position: relative;
        top: 80px;
        left: 10px;
        /* background: blue; */
      }


      .card{
        border-radius: 10px;
    }
    
    .card-header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px
    }