img {
    margin-top: -140px;
    margin-left: -500px;
    left: 125%;
    top: 600%;
    position: relative;
    width: 150px;
    height: 100px;
    
    }

    #Bienvenido {
        position: relative;
        top: 80px;
        left: 10px;
        /* background: blue; */
      }

      .card{
        border-radius: 10px;
        position: relative;
        margin-top: -25px;
       
        top: -10%;
       
      
    }


      

     .p-card{
        border-radius: 10px;
       
    } 
    
    .card-header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px
    }


     .roles{
        position: relative;
        top: -60px; 
        left: 950px;
    } 
 

    
    