<app-menu></app-menu> 

<div class="container fadein animation-iteration-1 animation-duration-500">

    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2">
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
            <div class="row"> 
                  <!-- parte derecha -->
                  <div class="col-10-md-7">
                        <div class="row"> 
                            <div class="col-12"> 
                                <div class="card shadow-sm mb-4" > 
                                    <div class="card-header bg-secondary text-white">
                                        <i class=" bi bi-card-text me-1"></i>
                                        Crear plantación
                                    </div>
                                    <form #form = "ngForm" (ngSubmit)="crearPlantacion(form)"  novalidate> 

                                        <div class="card-body ">

                                             <!-- Selector Finca -->
                                             <div class="p-2">
                                          
                                                <label for="nomreFinca" class="form-label">Seleccione la finca</label>
                                                <select class="form-select" name="finca" id="nomreFinca"
                                                [(ngModel)]="usuarioProductor" aria-label=".form-select-lg example" required>
                                                <option [value]="finca.idFinca" *ngFor="let finca of fincas">
                                                
                                                    {{ finca.nombre }}
                                                    
                                                </option>
                                                
                                                </select>
                                             </div>
                                              <!-- fin -->

                                              <!-- Listado de los Cuadros -->
                                              <!-- <div class="p-2">
                                                <label for="form-select-lg mb-3" class="form-label">Seleccione el o los cuadros</label>
                                                <p-listbox  [options]="cuadros" [(ngModel)]="plantacion.numerosDeCuadros" name="plantacion" [metaKeySelection]="false"
                                                [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="numeroCuadro" 
                                                [listStyle]="{'max-height':'250px'}" [style]="{'width':'50rem'}">
                                                    <ng-template let-cuadros pTemplate="item">
                                                        <div class="cuadros-item">
                                                          
                                                            <div>{{cuadros.numeroCuadro}}</div>
                                                            

                                                        </div>
                                                    </ng-template>
                                                </p-listbox> 
                                              </div> -->

                                              <!-- fin -->

                                               <!-- Listado de los Cuadros -->
                                       <div class="p-2">
                                          
                                        <label class="form-check-label" for="labor" > Cuadro </label>
                                   
                                          <div class="field-radiobutton" *ngFor="let cuadro of cuadros">
                                                <p-radioButton name="cuadro.numeroCuadro" value="{{cuadro.idCuadro}}" [(ngModel)]="plantacion.idCuadro" inputId="riego"> 
                                                </p-radioButton>
                                                <label for="riego"> 
                                                    {{cuadro.numeroCuadro}} 
                                                

                                                </label>
                                           
                                            </div>
                                    </div>
                                    <!-- fin lista cuadros -->
                                            
                                             <!-- Marco Plantación e/Hileras -->
                                            <div class="p-2">
                                                <label for="entreIleras" class="form-label">Marco plantación entre/hielras</label>
                                                <input type="number" class="form-control p-inputtext"  name="entreIleras" id="entreIleras" placeholder="Ingrese el valor en (cm)" 
                                                [(ngModel)]="plantacion.entreIleras" #plaEntreHi ="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="1">
                                            
                                                <div *ngIf="plaEntreHi.invalid && (plaEntreHi.dirty || plaEntreHi.touched)">
                                                    <p-message styleClass="m-1" *ngIf="plaEntreHi.errors?.required"  severity="error" text="El marco de plantacion e/hileras es requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="plaEntreHi.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="plaEntreHi.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                                </div>
                                                
                                            </div>

                                             <!-- fin -->

                                              <!-- Marco Plantación e/Plantas -->

                                              <div class="p-2">
                                                <label for="entrePlantas" class="form-label">Marco plantación entre/plantas</label>
                                                <input type="number" class="form-control p-inputtext"  name="entrePlantas" id="entrePlantas" placeholder="Ingrese el valor en (cm)" 
                                                [(ngModel)]="plantacion.entrePlantas" #plaEntrePla ="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="1">
                                            
                                                <div *ngIf="plaEntrePla.invalid && (plaEntrePla.dirty || plaEntrePla.touched)">
                                                    <p-message styleClass="m-1" *ngIf="plaEntrePla.errors?.required"  severity="error" text="El marco de plantacion e/plantas es requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="plaEntrePla.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="plaEntrePla.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                                </div>
                                            </div>

                                             <!-- fin -->

                                              <!-- Sistema de riego -->
                                             <div class="p-2">
                                                <label for="sistemaRiego" class="form-label">Sistema de riego</label>
                                                <input type="text" class="form-control p-inputtext"  name="riego" id="sistemaRiego" placeholder="Ingrese el sistema de riego" 
                                                [(ngModel)]="plantacion.sistemaRiego" #sistema="ngModel" pattern={{patronLetras}}  required minlength="3">
                                            
                                                <div *ngIf="sistema.invalid && (sistema.dirty || sistema.touched)">
                                                    <p-message styleClass="m-1" *ngIf="sistema.errors?.required"  severity="error" text="El sistema de riego es requerido"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="sistema.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="sistema.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                </div>
                                            </div>

                                             <!-- fin -->

                                             <!-- Sistema de trasplante -->
                                             <div class="p-2">
                                                <label for="sistemaTrasplante" class="form-label">Sistema de trasplante</label>
                                                <input type="text" class="form-control p-inputtext"  name="trasplante" id="sistemaTrasplante" placeholder="Ingrese el sistema de trasplante" 
                                                [(ngModel)]="plantacion.sistemaTrasplante" #trasplante="ngModel" pattern={{patronLetras}}  required minlength="3">
                                            
                                                <div *ngIf="trasplante.invalid && (trasplante.dirty || trasplante.touched)">
                                                    <p-message styleClass="m-1" *ngIf="trasplante.errors?.required"  severity="error" text="El sistema de trasplante es requerido"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="trasplante.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="trasplante.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                </div>
                                            </div>

                                             <!-- fin -->

                                              <!-- Selector tipo cultivo -->
                                              <div class="p-2">
                                          
                                                <label for="tipoCultivo" class="form-label">Seleccione el cultivo</label>
                                                <select class="form-select" name="cultivo" id="tipoCultivo"
                                                [(ngModel)]="plantacion.tipoCultivo" aria-label=".form-select-lg example" required>
                                                <option [value]="cultivo.idCultivo" *ngFor="let cultivo of listadoCultivo">
                                                
                                                    {{ cultivo.nombre }}
                                                    
                                                </option>
                                                
                                                </select>
                                             </div>
                                              <!-- fin -->

                                              <!-- Cantidad plantines -->

                                              <div class="p-2">
                                                <label for="cantidadPlantines" class="form-label">Cantidad de plantines</label>
                                                <input type="number" class="form-control p-inputtext"  name="plantines" id="cantidadPlantines" placeholder="Ingrese la cantidad de plantines" 
                                                [(ngModel)]="plantacion.cantidadPlantines" #cantidadPla ="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="1">
                                            
                                                <div *ngIf="cantidadPla.invalid && (cantidadPla.dirty || cantidadPla.touched)">
                                                    <p-message styleClass="m-1" *ngIf="cantidadPla.errors?.required"  severity="error" text="La cantidad de plantines es requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="cantidadPla.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="cantidadPla.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                                </div>
                                            </div>

                                             <!-- fin -->

                                              <!-- Observacioón -->
                                              <div class="p-2">
                                                <label for="observacion" class="form-label">Observación</label>
                                                <input type="text" class="form-control p-inputtext"  name="obserCultivo" id="observacion" placeholder="Ingrese la observación" 
                                                [(ngModel)]="plantacion.observacion" #obser="ngModel" pattern={{patronLetras}}  required minlength="8">
                                            
                                                <div *ngIf="obser.invalid && (obser.dirty || obser.touched)">
                                                    <p-message styleClass="m-1" *ngIf="obser.errors?.required"  severity="error" text="La observación es requerido"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="obser.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="obser.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                </div>
                                            </div>

                                             <!-- fin -->

                                             <div class="card-footer d-flex justify-content-between">
                                                <button routerLink="/index"  pButton  type="button" class="btn btn-outline-danger p-button-rounded p-button-danger " style="margin-left: 10px"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                                                <button pRipple pButton type="submit" class="p-button-rounded p-button-raised" icon="pi pi-check" label="Cargar plantación" [disabled]="!form.valid"></button>
                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>      
        </div>
    </div>

</div>

