<body class="image-fondo ">
    <div class="card shadow-lg border-0 mt-5">  
      <div class="modal-dialog text-center">
        <div class="col-sm-12 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="assets/imagen/usuario.png" alt="">
                </div>
                
                <div class=" shadow-lg border-0 mt-2">
                  <h3 class="text-center mt-1">Acceso</h3>           
               </div>
  
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-group" id="user-group">
                    <label class="text" for="nombreUsuario">Nombre de usuario</label>    
                    <p-password type="text" name="nombreUsuario" id="nombreUsuario" 
                    placeholder="Usuario o Email" [(ngModel)]="nombreUsuario" required [feedback]="false" [toggleMask]="true"> </p-password>
  
                  </div>
  
  
                  <div class="form-group" id="contrasena-group">
                    <label class="text" for="password">Contraseña</label>
                    <p-password type="password"  name="password" id="password"
                    placeholder="Contraseña" [(ngModel)]="password" required [feedback]="false" [toggleMask]="true" > </p-password>
  
                  </div>

                 

                  <div class=" row mt-3 justify-content-center text-center form group">
                      <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fas fa-sign-in-alt"></i> Iniciar Sesioń</button>
                  </div>
        
  
              </form>  
              <div class="forgot text-center mt-2" *ngIf=!isLogged>
                <a routerLink="/usuario/restablecerPassword/enviaremail" class="link-primary text-center" > ¿Olvidaste tu contraseña?</a>
              </div>
  
  
            <!-- <div *ngIf="f.submitted && isLoginFail"   class="alert alert-danger mt-3">Error en el login: {{errMsj}}</div> -->
            </div>
          
        
          </div>
    </div>
      
  </div>
  
  
  
  
  </body>
