<app-menu></app-menu> 
<div class="container fadein animation-iteration-1 animation-duration-500">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2"> 
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>

            <div class="row"> 
                <div class="col-10-md-7"> 
                    <div class="row"> 

                        <div class="col-12"> 
                            <div class="card shadow-sm mb-4" >

                                <div class="card-header bg-secondary  text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                    Generar nueva asesoría de agroquímico
                                </div>

                                <form #form = "ngForm" (ngSubmit)="crearAsesoria(form)" novalidate>

                                    <div class="card-body ">

                                         <!-- Selector productor -->
                                         <div class="p-2">
                                          
                                            <label for="nombreProductor" class="form-label">Productor</label>
                                            <select class="form-select" name="productorNombreProductor" id="nombreProductor"
                                                [(ngModel)]="nuevaAsesoria.nombreProductor" aria-label=".form-select-lg example" required>
                                                <option [value]="productor.nombreUsuario" *ngFor="let productor of usuarios">
                                                    {{ productor.nombre }} - {{ productor.apellido }} 
                                                </option>
                                            </select>
                                          </div>
                                         <!-- fin -->

                                         <!-- Selector Finca -->
                                             <div class="p-2">
                                          
                                                <label for="nomreFinca" class="form-label">Seleccione la finca</label>
                                                <select class="form-select" name="finca" id="nomreFinca"
                                                    [(ngModel)]="nuevaAsesoria.idFinca" aria-label=".form-select-lg example" required>
                                                    <option [value]="finca.idFinca" *ngFor="let finca of fincas">
                                                    
                                                        {{ finca.nombre }}
                                                        
                                                    </option>
                                                
                                                </select>
                                            </div>
                                          <!-- fin -->

                                           <!-- Listado de los Cuadros solo permite seleccionar 1 cuadro -->
                                            <div class="p-2">
                                          
                                              <label class="form-check-label" for="labor" > Cuadro </label>
                                       
                                              <div class="field-radiobutton" *ngFor="let cuadro of cuadros">
                                                    <p-radioButton name="cuadro.numeroCuadro" value="{{cuadro.idCuadro}}" [(ngModel)]="nuevaAsesoria.idCuadro" inputId="riego"> 
                                                    </p-radioButton>
                                                    <label for="riego"> 
                                                        {{cuadro.numeroCuadro}} 
                                                    

                                                    </label>
                                               
                                                </div>
                                            </div>
                                            <!-- fin -->

                                              <!-- Selector tipo agroquímico -->
                                            <div class="p-2">
                                            
                                                <label for="aplicacion" class="form-label">Seleccione el agroquímico</label>
                                                <select class="form-select" name="apliAgro" id="aplicacion"
                                                    [(ngModel)]="nuevaAsesoria.idAgroquimico" aria-label=".form-select-lg example" required>
                                                    <option [value]="agroquimico.id" *ngFor="let agroquimico of listadoAgroquimico">
                                                    
                                                        {{ agroquimico.nombreComercial }}
                                                        
                                                    </option>
                                                
                                                </select>
                                            </div>
                                            <!-- fin -->

                                             <!-- Dosis por hectarea -->
                                             <div class="form-group p-2">
                                                <label for="dosisPorHectaria" class="form-label">Dosis/ha</label>
                                                 
                                                <input type="text" class="p-inputtext form-control mt-2"  name="dosis" id="dosisPorHectaria" placeholder="Ej: cc, g, Kg, etc." 
                                                [(ngModel)]="nuevaAsesoria.dosisPorHectaria" #dosis ="ngModel"    required minlength="2">
                                           
                                                <div *ngIf="dosis.invalid && (dosis.dirty || dosis.touched)">
                                                    <p-message styleClass="m-1" *ngIf="dosis.errors?.required"  severity="error" text="La dosis por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="dosis.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                               
                                        
                                            </div>
                                            <!-- fin -->

                                

                                              <!-- Dosis por Hl -->
                                              <div class="form-group p-2">
                                                <label for="dosisPorHl" class="form-label">Dosis/hl</label>
                                                <input type="text" class="p-inputtext form-control mt-2"  name="dosisHl" id="dosisPorHl" placeholder="Ej: cc, g, Kg, etc." 
                                                [(ngModel)]="nuevaAsesoria.dosisPorHl" #dosisHl ="ngModel"    required minlength="2">
                                            
                                                <div *ngIf="dosisHl.invalid && (dosisHl.dirty || dosisHl.touched)">
                                                    <p-message styleClass="m-1" *ngIf="dosisHl.errors?.required"  severity="error" text="La dosis por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="dosisHl.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                        
                                            </div>
                                            <!-- fin -->

                                             <!-- Volumen por hectarea -->
                                             <div class="form-group p-2">
                                                <label for="volumenPorHectaria" class="form-label">Vol/ha</label>
                                                <input type="text" class="p-inputtext form-control mt-2"  name="volumen" id="volumenPorHectaria" placeholder="Ej: ml, L, etc." 
                                                [(ngModel)]="nuevaAsesoria.volumenPorHectaria" #volumen ="ngModel"    required minlength="2">
                                            
                                                <div *ngIf="volumen.invalid && (volumen.dirty || volumen.touched)">
                                                    <p-message styleClass="m-1" *ngIf="volumen.errors?.required"  severity="error" text="El volumen por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="volumen.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                        
                                            </div>
                                            <!-- fin -->


                                             <!-- Objetivo -->
                                             <div class="form-group p-2">
                                                <label for="objetivo" class="form-label">Objetivo</label>
                                                <input type="text" class="p-inputtext form-control mt-2"  name="descripcion" id="objetivo" placeholder="Ingrese el objetivo" 
                                                [(ngModel)]="nuevaAsesoria.objetivo" #desc ="ngModel"  pattern={{patronLetras}}   required minlength="4">
                                            
                                                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)">
                                                    <p-message styleClass="m-1" *ngIf="desc.errors?.required"  severity="error" text="El objetivo es requerido"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="desc.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="desc.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                </div>
                                            
                                            </div>

                                            <!-- fin -->

                                              <!-- Plaga -->
                                              <div class="form-group p-2">
                                                    <label for="plaga" class="form-label">Plaga</label>
                                                    <input type="text" class="p-inputtext form-control mt-2"  name="plag" id="plaga" placeholder="Ingrese la plaga" 
                                                    [(ngModel)]="nuevaAsesoria.plaga" #pla ="ngModel"  pattern={{patronLetras}}   required minlength="4">
                                                
                                                    <div *ngIf="pla.invalid && (pla.dirty || pla.touched)">
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.required"  severity="error" text="La plaga es requerida"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                    </div>
                                            
                                                 </div>

                                                <!-- fin -->

                                                  <!-- Fecha -->
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <!--group FechaFecha estimdada de asesoría-->
                                                            <label class="m-2" for="fechaEstimada">Fecha estimada de aplicación de asesoría</label><br/>
                                                            <p-calendar class="mt-2" inputId="basic" name="fechaEstimada" [(ngModel)]="fechaEstimada"
                                                             [required]="true" yearRange="1930:2030" [showIcon]="true"></p-calendar>
                                                            <!--fin group Fecha estimdada de asesoría-->
                                                        </div>
                        
                                                    </div>
                                                </div>
                                                 <!-- fin -->

                                                 <!-- botones -->

                                                <div class="card-footer mb-2">
                                                    <div class="d-flex justify-content-between">
                                                        <button pRipple pButton type="button" routerLink="/index" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-thumbs-down" style="margin-left: 10px" label="Cancelar" ></button>
                                                        <button pButton  class="p-button-success p-button-rounded p-button-raised p-button-sm" role="submit" icon="pi pi-thumbs-up" label="Guardar" [disabled]="!form.valid"></button>
                                                        
                                                    </div>
                                                </div>
                                                <!-- fin -->
        


                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
