<app-menu></app-menu> 

<div class="container fadein animation-iteration-1 animation-duration-500">
    
    <div class="row d-flex justify-content-center">

        <div class="col-10 col-lg-2"> 
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>

            <div class="row"> 

                <div class="col-10-md-7"> 
                    <div class="row"> 

                        <div class="col-12"> 

                            <div class="card shadow-sm mb-4" >

                                <div class="card-header bg-secondary  text-white">
                                    <i class=" bi bi-card-text me-1"></i>
                                    Crear nuevo Cultivo
                                </div>

                                <form #form = "ngForm" (ngSubmit)="crearCultivo(form)" novalidate>

                                    <div class="card-body "> 

                                        <div class="p-2">
                                            <label for="labelNombre" class="form-label">Nombre de cultivo </label>
                                            <input type="text" class="form-control p-inputtext"  name="nombreCultivo" id="nombreCultivo" placeholder="Ingrese el nombre del cultivo" 
                                            [(ngModel)]="nuevoCultivo.nombre" #nombre="ngModel" pattern={{patronLetras}}  required minlength="3">
                                        
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.required"  severity="error" text="El nombre del cultivo es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombre.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>


                                        <div class="p-2">
                                            <label for="labelRemito" class="form-label">Remito </label>
                                            <input type="text" class="form-control p-inputtext"  name="remito" id="remito" placeholder="Ingrese el remito" 
                                            [(ngModel)]="nuevoCultivo.remito" #remito="ngModel"   required minlength="3">
                                        
                                            <div *ngIf="remito.invalid && (remito.dirty || remito.touched)">
                                                <p-message styleClass="m-1" *ngIf="remito.errors?.required"  severity="error" text="El remito es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="remito.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <!-- <p-message styleClass="m-1" *ngIf="remito.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                            </div>
                                        </div>


                                        <div class="p-2">
                                            <label for="labelLatitud" class="form-label">Tiempo de carencia en dias</label>
                                            <input type="number" class="form-control p-inputtext"  name="timpoCarencia" id="timpoCarencia" placeholder="Ingrese el tiempo de carencia" 
                                            [(ngModel)]="nuevoCultivo.timpoCarencia" #latitud="ngModel" pattern="^[0-9 . -]{2,15}"  required minlength="2">
                                        
                                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.required"  severity="error" text="La latitud es requerida"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="latitud.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                            </div>
                                        </div>


                                        <div class="p-2">
                                            <label for="labelVariedad" class="form-label">Variedad de cultivo </label>
                                            <input type="text" class="form-control p-inputtext"  name="variedadCultivo" id="variedadCultivo" placeholder="Ingrese la variedad del cultivo" 
                                            [(ngModel)]="nuevoCultivo.variedadCultivo" #variedad="ngModel" pattern={{patronLetras}}  required minlength="3">
                                        
                                            <div *ngIf="variedad.invalid && (variedad.dirty || variedad.touched)">
                                                <p-message styleClass="m-1" *ngIf="variedad.errors?.required"  severity="error" text="La variedad del cultivo es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="variedad.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="variedad.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>


                                        <div class="p-2">
                                            <label for="labelVariedad" class="form-label">Vivero proveedor </label>
                                            <input type="text" class="form-control p-inputtext"  name="viveroProveedor" id="viveroProveedor" placeholder="Ingrese el vivero proveedor" 
                                            [(ngModel)]="nuevoCultivo.viveroProvedor" #vivero="ngModel" pattern={{patronLetras}}  required minlength="3">
                                        
                                            <div *ngIf="vivero.invalid && (vivero.dirty || vivero.touched)">
                                                <p-message styleClass="m-1" *ngIf="vivero.errors?.required"  severity="error" text="El vivero proveedor es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="vivero.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="vivero.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>


                                        <!-- botones -->

                                        <div class="card-footer mb-2">
                                            <div class="d-flex justify-content-between">
                                              <button pRipple pButton type="button" routerLink="/index" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-thumbs-down" style="margin-left: 10px" label="Cancelar" ></button>
                                              <button pButton class="p-button-success p-button-rounded p-button-raised p-button-sm" role="submit" icon="pi pi-thumbs-up" label="Guardar" [disabled]="!form.valid"></button>
                                              
                                            </div>
                                        </div>
                                        <!-- fin -->

                                    </div>
                                
                                </form>

                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>




</div>
