<app-menu></app-menu> 
<div class="container fadein animation-iteration-1 animation-duration-500">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-lg-2">
            <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
            <div class="row"> 
                <!-- parte derecha -->
                <div class="col-10-md-7">
                      <div class="row"> 
                          <div class="col-12"> 
                                <div class="card shadow-sm mb-4" > 
                                    <div class="card-header bg-secondary text-white">
                                        <i class=" bi bi-card-text me-1"></i>
                                        Nueva aplicación agroquímico 
                                    </div>
                                    <!-- botones -->
                                   <!--  <div class="card-footer mb-2">
                                        <div class="d-flex justify-content-between">
                                            <div class="navbar">
                                                <button (click)="mostrarForm()" pRipple *ngIf="isProductor" class="btn btn-outline-primary" id="botonRiego"   tooltipPosition="right">Nueva aplicación agroquímico  <i class="fa-solid fa-skull-crossbones"></i></button> 
                                            </div>
                                            <div class="navbar">
                                                <button (click)="mostrarCard()" pRipple *ngIf="isProductor" class="btn btn-outline-secondary" id="botonAsesoria"  tooltipPosition="left">Aplicación agroquímico con asesoría <i class="fa-solid fa-list"></i><i class="fa-solid fa-bottle-droplet"></i></button> 
                                            </div>
                                        
                                        
                                        </div>
                                    </div> -->
                                 <!-- fin botones -->

                                  <!-- Selector Finca -->
                                  <div class="p-2">
                                          
                                    <label for="nomreFinca" class="form-label">Seleccione la finca</label>
                                    <select class="form-select" name="finca" id="nomreFinca"
                                        [(ngModel)]="aplicacionAgro.idFinca" aria-label=".form-select-lg example" required>
                                        <option [value]="finca.idFinca" *ngFor="let finca of fincas">
                                        
                                            {{ finca.nombre }}
                                            
                                        </option>
                                    
                                    </select>
                                 </div>
                                  <!-- fin -->
                                    <form #form = "ngForm" (ngSubmit)="crearAplicacion(form)" id="form" novalidate> 
                                         
                                         <!-- Listado de los Cuadros -->
                                       <div class="p-2">
                                          
                                        <label class="form-check-label" for="labor" > Cuadro </label>
                                   
                                          <div class="field-radiobutton" *ngFor="let cuadro of cuadros">
                                                <p-radioButton name="cuadro.numeroCuadro" value="{{cuadro.idCuadro}}" [(ngModel)]="aplicacionAgro.idCuadro" inputId="riego"> 
                                                </p-radioButton>
                                                <label for="riego"> 
                                                    {{cuadro.numeroCuadro}} 
                                                

                                                </label>
                                           
                                            </div>
                                    </div>
                                    <!-- fin lista cuadros -->

                                          <!-- Selector tipo agroquímico -->
                                          <div class="p-2">
                                          
                                            <label for="aplicacion" class="form-label">Seleccione el agroquímico</label>
                                            <select class="form-select" name="apliAgro" id="aplicacion"
                                                [(ngModel)]="aplicacionAgro.idAgroquimico" aria-label=".form-select-lg example" required>
                                                <option [value]="agroquimico.id" *ngFor="let agroquimico of listadoAgroquimico">
                                                
                                                    {{ agroquimico.nombreComercial }}
                                                    
                                                </option>
                                            
                                            </select>
                                         </div>
                                          <!-- fin -->

                                             <!-- Dosis por hectarea -->
                                           <!--  <div class="form-group p-2">
                                                <label for="dosisPorHectaria" class="form-label">Dosis por hectarea(cm3)</label>
                                                <input type="number" class="p-inputtext form-control mt-2"  name="dosis" id="dosisPorHectaria" placeholder="Ingrese la dosis" 
                                                [(ngModel)]="aplicacionAgro.dosisPorHectaria" #do ="ngModel" pattern="^[0-9 . -]{2,15}"   required minlength="1">
                                            
                                                <div *ngIf="do.invalid && (do.dirty || do.touched)">
                                                    <p-message styleClass="m-1" *ngIf="do.errors?.required"  severity="error" text="La dosis es requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="do.errors?.minlength" severity="error" text="Debe tener al menos 1 caracteres"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="do.errors?.pattern"   severity="error" text="Solo se permiten núeros"></p-message>
                                                </div>
                                            
                                            </div> -->

                                            <div class="form-group p-2">
                                                <label for="dosisPorHectaria" class="form-label">Dosis/ha</label>
                                                 
                                                <input type="text" class="p-inputtext form-control mt-2"  name="dosis" id="dosisPorHectaria" placeholder="Ej: cc, g, Kg, etc." 
                                                [(ngModel)]="aplicacionAgro.dosisPorHectaria" #dosis ="ngModel"    required minlength="2">
                                           
                                                <div *ngIf="dosis.invalid && (dosis.dirty || dosis.touched)">
                                                    <p-message styleClass="m-1" *ngIf="dosis.errors?.required"  severity="error" text="La dosis por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="dosis.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                               
                                        
                                            </div>
                                            <!-- fin -->

                                               <!-- Dosis por Hl -->
                                            <div class="form-group p-2">
                                                <label for="dosisPorHl" class="form-label">Dosis/hl</label>
                                                <input type="text" class="p-inputtext form-control mt-2"  name="dosisHl" id="dosisPorHl" placeholder="Ej: cc, g, Kg, etc." 
                                                [(ngModel)]="aplicacionAgro.dosisPorHl" #dosisHl ="ngModel"    required minlength="2">
                                            
                                                <div *ngIf="dosisHl.invalid && (dosisHl.dirty || dosisHl.touched)">
                                                    <p-message styleClass="m-1" *ngIf="dosisHl.errors?.required"  severity="error" text="La dosis por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="dosisHl.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                        
                                            </div>
                                            <!-- fin -->

                                             <!-- Volumen por hectarea -->
                                             <div class="form-group p-2">
                                                <label for="volumenPorHectaria" class="form-label">Vol/ha</label>
                                                <input type="text" class="p-inputtext form-control mt-2"  name="volumen" id="volumenPorHectaria" placeholder="Ej: ml, L, etc." 
                                                [(ngModel)]="aplicacionAgro.volumenPorHectaria" #volumen ="ngModel"    required minlength="2">
                                            
                                                <div *ngIf="volumen.invalid && (volumen.dirty || volumen.touched)">
                                                    <p-message styleClass="m-1" *ngIf="volumen.errors?.required"  severity="error" text="El volumen por hectarea requerida"></p-message>
                                                    <p-message styleClass="m-1" *ngIf="volumen.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                                    <!-- <p-message styleClass="m-1" *ngIf="dosis.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message> -->
                                                </div>
                                        
                                            </div>
                                            <!-- fin -->

                                              <!-- Objetivo -->
                                                <div class="form-group p-2">
                                                    <label for="objetivo" class="form-label">Objetivo</label>
                                                    <input type="text" class="p-inputtext form-control mt-2"  name="descripcion" id="objetivo" placeholder="Ej: Curativo, Preventivo" 
                                                    [(ngModel)]="aplicacionAgro.objetivo" #desc ="ngModel"  pattern={{patronLetras}}   required minlength="4">
                                                
                                                    <div *ngIf="desc.invalid && (desc.dirty || desc.touched)">
                                                        <p-message styleClass="m-1" *ngIf="desc.errors?.required"  severity="error" text="El objetivo es requerido"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="desc.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="desc.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                    </div>
                                                
                                                </div>

                                                <!-- fin -->

                                                  <!-- Observación -->
                                                  <div class="form-group p-2">
                                                    <label for="observaciones" class="form-label">Descripción</label>
                                                    <input type="text" class="p-inputtext form-control mt-2"  name="descr" id="observaciones" placeholder="Ingrese la descripción" 
                                                    [(ngModel)]="aplicacionAgro.observaciones" #descrip ="ngModel"  pattern={{patronLetras}}   required minlength="8">
                                                
                                                    <div *ngIf="descrip.invalid && (descrip.dirty || descrip.touched)">
                                                        <p-message styleClass="m-1" *ngIf="descrip.errors?.required"  severity="error" text="La descripción es requeridos"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="descrip.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="descrip.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                    </div>
                                                
                                                </div>

                                                <!-- fin -->

                                                  <!-- Plaga -->
                                                  <div class="form-group p-2">
                                                    <label for="plaga" class="form-label">Plaga</label>
                                                    <input type="text" class="p-inputtext form-control mt-2"  name="plag" id="plaga" placeholder="Ingrese la plaga" 
                                                    [(ngModel)]="aplicacionAgro.plaga" #pla ="ngModel"  pattern={{patronLetras}}   required minlength="4">
                                                
                                                    <div *ngIf="pla.invalid && (pla.dirty || pla.touched)">
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.required"  severity="error" text="La plaga es requerida"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                                        <p-message styleClass="m-1" *ngIf="pla.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                                    </div>
                                                
                                                </div>

                                                <!-- fin -->

                                                <!-- botones -->
                                                <div class="card-footer mb-2">
                                                    <div class="d-flex justify-content-between">
                                                    <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text p-button-sm" icon="pi pi-thumbs-down" style="margin-left: 10px" label="Cancelar" (click)="cerrar()"></button>
                                                    <button pButton class="p-button-success p-button-rounded p-button-raised p-button-sm" role="submit" icon="pi pi-thumbs-up" label="Aplicar" [disabled]="!form.valid"></button>
                                                    
                                                    </div>
                                                </div>
                                                 <!-- fin botones -->

                                  
                                    </form>

                                   <!--  <div class="card" id="card">
                                        
                                       
                                        <div class="container fadein animation-iteration-1 animation-duration-500">
                                            
                                            <div class="row d-flex justify-content-center">
                                                <p-card styleClass="shadow-1 mb-4" header="">
                                                    <p-table #dt [value]="listadoAsesoria" responsiveLayout="stack" styleClass="p-datatable-striped p-datatable-sm"
                                                    dataKey="id" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading"
                                                    [rowHover]="true" [paginator]="true"
                                                    currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
                                                    [filterDelay]="0"> -->

                                                      <!-- botones -->
                                                      <!--   <ng-template pTemplate="caption">
                                                            <div class="d-flex justify-content-between">
                                                
                                                                <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1"  icon="pi pi-filter-slash" label="Limpiar Filtros" (click)="clear(dt)"></button>
                                                            </div>
                                                        </ng-template -->
                                
                                                        <!-- fin -->

                                                     <!--    <ng-template pTemplate="header">
                                                            <tr class="text-center"> -->

                                                                 <!-- Columna id -->
                                                               <!--  <th class="text-center" pSortableColumn="id">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                    Id
                                                                    <p-sortIcon field="id"></p-sortIcon>
                                                                    <p-columnFilter type="numeric" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                 <!-- Agroquímico -->
                                                              <!--   <th class="text-center" pSortableColumn="agroquimico">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Agroquímico
                                                                    <p-sortIcon field="agroquimico"></p-sortIcon>
                                                                    <p-columnFilter type="text" field="agroquimico" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                <!-- Nombre de finca -->
                                                              <!--   <th class="text-center" pSortableColumn="nombre">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Finca
                                                                        <p-sortIcon field="nombre"></p-sortIcon>
                                                                        <p-columnFilter type="text" field="nombre" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                <!-- Cuadro -->
                                                               <!--  <th class="text-center" pSortableColumn="cuadro">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Cuadro
                                                                    <p-sortIcon field="cuadro"></p-sortIcon>
                                                                    <p-columnFilter type="text" field="cuadro" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                 <!-- dosisPorHectaria -->
                                                             <!--    <th class="text-center" pSortableColumn="dosisPorHectaria">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Dosis por hectarea
                                                                    <p-sortIcon field="dosisPorHectaria"></p-sortIcon>
                                                                    <p-columnFilter type="number" field="dosisPorHectaria" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                 <!-- dosisPorHl -->
                                                               <!--  <th class="text-center" pSortableColumn="dosisPorHl">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Dosis por por Hl
                                                                    <p-sortIcon field="dosisPorHl"></p-sortIcon>
                                                                    <p-columnFilter type="number" field="dosisPorHl" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                <!-- volumenPorHectaria -->
                                                               <!--  <th class="text-center" pSortableColumn="volumenPorHectaria">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Volumen por hectaria
                                                                    <p-sortIcon field="volumenPorHectaria"></p-sortIcon>
                                                                    <p-columnFilter type="number" field="volumenPorHectaria" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                <!-- objetivo -->
                                                              <!--   <th class="text-center" pSortableColumn="objetivo">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Objetivo
                                                                    <p-sortIcon field="objetivo"></p-sortIcon>
                                                                    <p-columnFilter type="text" field="objetivo" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                 <!-- Plaga -->
                                                               <!--  <th class="text-center" pSortableColumn="plaga">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Plaga
                                                                    <p-sortIcon field="plaga"></p-sortIcon>
                                                                    <p-columnFilter type="text" field="plaga" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th> -->
                                                                <!-- fin -->

                                                                <!-- -- columna fecha estimada de aplicación-->
                                                               <!--  <th class="text-center" pSortableColumn="fechaEstimadaAplicacionParsed">
                                                                    <div class="p-d-flex p-jc-between p-ai-center">
                                                                        Fecha estimada de aplicación                               
                                                                        <p-sortIcon field="fechaEstimadaAplicacionParsed"></p-sortIcon>
                                                                        <p-columnFilter type="date" field="fechaEstimadaAplicacionParsed" display="menu" class="p-ml-auto"></p-columnFilter>
                                                                    </div>
                                                                </th>  -->
                                                                <!-- fin -->

                                                                 <!-- columna estado-->
                                                                <!-- <th class="text-center">
                                                                    Estado
                                                                    <p-columnFilter type="boolean" field="asesoriaAplicada" class="p-ml-auto"></p-columnFilter>
        
                                                                </th>      -->               
                                                                <!-- fin -->

                                                                <!-- Acciones --> 
                                                                <!-- <th class="text-center" pSortableColumn="ver"> 
                                                                    <div class="p-d-flex p-jc-between p-ai-center"></div>
                                                                    Acciones
                                                                </th>
                                                                <th class="text-center" pSortableColumn="ver"> 
                                                                    <div class="p-d-flex p-jc-between p-ai-center"></div>
                                                                </th> -->
                                                                <!-- fin -->                            
                                                          <!--   </tr>
                                                        </ng-template>

                                                        <ng-template pTemplate="body" let-asesoriaAgroquimico>
                                                            <tr> 
                                                                <td>{{asesoriaAgroquimico.id}}</td>
                                                                <td>{{asesoriaAgroquimico.agroquimico.nombreComercial}}</td>
                                                                <td>{{asesoriaAgroquimico.finca.nombre}}</td>
                                                                <td>{{asesoriaAgroquimico.cuadro.numeroCuadro}}</td>
                                                                <td>{{asesoriaAgroquimico.dosisPorHectaria}}</td>
                                                                <td>{{asesoriaAgroquimico.dosisPorHl}}</td>
                                                                <td>{{asesoriaAgroquimico.volumenPorHectaria}}</td>
                                                                <td>{{asesoriaAgroquimico.objetivo}}</td>
                                                                <td>{{asesoriaAgroquimico.plaga}}</td>
                                                              
                                                                
                                                                <td>{{asesoriaAgroquimico.fechaEstimadaAplicacionParsed | date:'dd/MM/YYYY'  }}</td>
                                                                

                                                                
                                                                <td class="text-center">
                                                                    <p-tag [severity]="getSeverityByEstado(asesoriaAgroquimico)" styleClass="uppercase" [rounded]="true">{{asesoriaAgroquimico.asesoriaAplicada? "Aplicada": "NoAplicada" }}</p-tag>
                                                                  </td>
                                        
                                                                <td class="text-center"> -->
                                                                    <!--Boton aplicar -->
    
                                                                 <!--    <button pRipple pButton class="p-button-success p-button-rounded p-button-text p-button-raised"
                                                                    icon="pi pi-check-circle" (click)="aplico(asesoriaAgroquimico.id)"
                                                                    *ngIf="asesoriaAgroquimico.asesoriaAplicada == false" pTooltip="Aplicar"
                                                                    tooltipPosition="top">
                                                                     -->
                                                                    <!-- </button> -->
                                                                    <!-- fin -->
    
                                               <!--                      <button pRipple pButton class="p-button-secondary p-button-rounded p-button-text p-button-raised"
                                                                    icon="pi pi-save"
     
                                                                    *ngIf="asesoriaAgroquimico.asesoriaAplicada == true"  pTooltip="Aplicado"
                                                                    tooltipPosition="top">
                                                                
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                        

                                                    </p-table>
                                                </p-card>
                                            </div>
                                        </div> -->
                                   <!--  </div> -->
                                </div>
                          </div>
                      </div>
                </div>
        </div>
    </div>
</div>
           
