<app-menu></app-menu> 
<div class="container-xl fadein animation-iteration-1 animation-duration-500">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div id="pdf">
      <div class="row">
        <app-usuarios-mas-activos></app-usuarios-mas-activos> 
      </div>
      <div class="row mt-4">
        <app-actividad-por-usuarios></app-actividad-por-usuarios> 
      
      </div>
    </div>
    <div>
      <button class="btn col col-lg-4 btn-danger btn-block ml-4" >Download PDF</button>
    </div>
  </div>
