<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm" style="height: 100%;">
            <div class="card-header bg-primary text-white"><i class="pi pi-chart-pie me-1"></i>Actividad de usuario</div>
            <div class="card-body justify-content-center">
                <div class="justify-content-center">
                    <div class="form-group ml-1">
                        <label class="mt-2 mb-2">Fecha desde y fecha hasta</label><br/>
                        <p-calendar  [(ngModel)]="rangoFechas" styleClass="w-100"  [showIcon]="true" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                        <p-message styleClass="m-1" *ngIf="rangoFechas[1] == null" severity="error" text="Debes seleccionar la fecha hasta"></p-message>
                    </div>
                    <div class="form-group">
                        <label for="nombre" class="mt-2 mb-2">Nombre de usuario</label>
                       
                        <div class="p-inputgroup ">
                            <span class="p-inputgroup-addon">
                              <i class="pi pi-user"></i>
                            </span>
                            <input pInputText type="text" id="nombre"  #user=ngModel [(ngModel)]="userName" placeholder="Nombre de usuario" required>
                            <button pRipple pButton icon="pi pi-search" styleClass="p-button-warn" (click)="cargarDatosfiltrados()" [disabled]="userName=='' || rangoFechas[0]==null || rangoFechas[1]==null"></button>
                        </div>
                      
                        <p-message styleClass="m-1" *ngIf="user.invalid && (user.dirty || user.touched)" severity="error" text="Debes ingresar el usuario"></p-message>
                    </div>
                  <!--   <div class="form-group mt-4">
                        <div class="d-grid gap-2">
                            <button pRipple pButton  class="w-full p-button-sm" label="Buscar" icon="pi pi-search" (click)="cargarDatosfiltrados()" [disabled]="userName=='' || rangoFechas[0]==null || rangoFechas[1]==null"></button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
      <p-card styleClass="shadow-1" header={{tituloGrafico}} subheader={{subtituloGrafico}}>
        <p-chart type="pie" [data]="data" height="26vh" width="100%"></p-chart>
      </p-card>
    </div>
</div>
<div class="row mt-4" *ngIf="!loading">
  <p-card styleClass="shadow-1 mb-4" header="Actividad del usuario" subheader={{subtituloGrafico}}>
    <p-table #dt [value]="logsDeUsuario" styleClass="p-datatable-sm p-datatable-striped" dataKey="id" [rows]="5"
      [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [rowHover]="true"
      [paginator]="true"
      currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
      [filterDelay]="0">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1" label="Limpiar Filtros" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr class="text-center">
            <!-- columna fecha-->
            <th class="text-center text-sm" pSortableColumn="fecha">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Fecha
                  <p-sortIcon field="fecha"></p-sortIcon>
                  <p-columnFilter type="date" field="fecha" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
              </th>
            <!-- columna LogAccion-->
            <th class="text-center text-sm" pSortableColumn="logAccion">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Accion
                  <p-sortIcon field="logAccion"></p-sortIcon>
                  <p-columnFilter type="text" field="logAccion" matchMode="contains" [showMenu]="false" class="p-ml-auto">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="acciones" (onChange)="filter($event.value)" placeholder="Todos" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </div>
              </th>
              <!-- columna descripcion-->
            <th class="text-center text-sm" pSortableColumn="descripcion">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Descripcion
                  <p-sortIcon field="descripcion"></p-sortIcon>
                  <p-columnFilter type="text" field="descripcion" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
              </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-log>
        <tr>
          <td class="text-center">{{log.fecha | date:'short'}}</td>
          <td class="text-center">{{log.logAccion}}</td>
          <td class="text-center">{{log.descripcion}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td class="text-center" colspan="8">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-scrollTop></p-scrollTop>
</div>
